name: project2
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Application
        run: npm run build

      - name: Artifact upload
        uses: actions/upload-artifact@v4
        with:
          name: artifact-1
          path: |
             package*

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test

  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Artifact upload
        uses: actions/download-artifact@v4
        with:
          name: artifact-1
          path: |
             package*
             
      - name: Deploy Application
        run: echo "Deploying to production server..."


  info:
     runs-on: ubuntu-latest
     steps:
       - name: Output of the Job
         run: echo "${{ toJson(github) }}" 

