name: project2
on: push
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: get code
        uses: actions/checkout@v3
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Set up nodejs
        uses: actions/setup-node@v3

        with:
          node-version: 18
  install-dep:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: npm install
        
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Run tests
        run: npm test
        
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: npm run build
        
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo "Deploying to production server..."
